@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navigation {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
  animation: slideFromLeft 1s ease-in-out;
  margin-bottom: 10px;
}

.titleLink {
  text-decoration: none;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  li {
    margin: 10px;
  }

  .navLink {
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    animation: slideFromRight 1s ease-in-out;

    &:hover {
      color: #666;
    }
  }
}

@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navLink {
    margin: 5px 0;
  }

  .title {
    display: none;
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}